{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Locality Details 
{% endblock %}
{% block content %}
    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="{{localitydetail.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="bd-hero-text">
                        <span>{{localitydetail.location}}</span>
                        <h2>{{localitydetail.name}}</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="blog-details-text">
                        <div class="bd-title">
                            <p>
                                {{localitydetail.discriptions|safe}}
                            </p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

<br>
<br>
   {% endblock %}