{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Package Details
{% endblock %}
{% block content %}

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="{{packagedetails.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="bd-hero-text">
                        <span>{{packagedetails.location}}</span>
                        <h2>{{packagedetails.package_name}}</h2>
                        <h4 class="text-white">Rs.{{packagedetails.rate}}</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="blog-details-text">
                        <div class="bd-title">
                            <p>
                                {{ packagedetails.discriptions|safe}}
                            </p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

   

   {% endblock %}