{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Rooms
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="/">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Rooms Section Begin -->
    <section class="rooms-section spad">
        <div class="container">
            <div class="row">
                {% for room in rooms %}
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="{{room.image.url}}" alt="">
                        <div class="ri-text">
                            <h4>{{room.room_name}}</h4>
                            <h3>{{room.rate_per_night}}<span>/Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>{{room.size}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>{{room.capacity}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>{{room.bed}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>{{room.services|safe}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="{% url  'room_details' room.room_slug %}" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

                
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->

    {% endblock %}